@using PagedList.Mvc;
@using PagedList;
@using Menajes_Maipu.Models.ModeloBD;

@{
    MenajesbdEntities6 ctx = new MenajesbdEntities6();

    ViewBag.Title = "Getbusqueda";
}

<section>

    <div class="container">

        <div class="row">

            <div class="col-sm-3">

                <div class="left-sidebar">

                    <h2>Categorias</h2>

                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @foreach (var categoria in ViewBag.Categoria)
                        {
                            <div class="panel panel-default">

                                <div class="panel-heading">

                                    <h4 class="panel-title">

                                        <a data-toggle="collapse" data-parent="#accordian" href="#@categoria.Id_categoria">

                                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>

                                            @categoria.Nombre_categoria

                                        </a>

                                    </h4>

                                </div>

                                <div id="@categoria.Id_categoria" class="panel-collapse collapse">

                                    <div class="panel-body">

                                        <ul>

                                            @foreach (var subcategoria in ViewBag.Subcategoria)
                                            {
                                                if (categoria.Id_categoria == subcategoria.Id_categoria)
                                                {
                                                    int id = subcategoria.Id_subcategoria;
                                                    int cantidad = ctx.Producto.Where(c => c.Id_subcategoria == id).Count();

                                                    <li><a href=@Url.Action("Getsubcategoria", "Home", new { Id_subcategoria= @subcategoria.Id_subcategoria })>@subcategoria.Nombre_subcategoria </a>(@cantidad)</li>                                                }
                                            }
                                        </ul>

                                    </div>

                                </div>

                            </div>
                        }

                    </div><!--/category-productsr-->

                </div>

            </div>



            <div class="col-sm-9 padding-right">

                <div class="features_items">
                    <!--features_items-->
                    @if (ViewBag.cantidad == "MK7")
                    {
                        <h2 class="title text-center">No encontramos registros</h2>
                    }
                    else
                    { <h2 class="title text-center">Listado de productos</h2>
                    }
                    @foreach (var producto in ViewBag.Busqueda)
                    {


                        <div class="col-sm-4">


                            <div class="product-image-wrapper">

                                <a href=@Url.Action("DetalleProducto","Home", new { Id=producto.Id_producto})>

                                    <div class="single-products">

                                        <div class="productinfo text-center">

                                            @if (producto.Imagen_producto != null)
                                            {
                                                <div style="margin-left:5px;margin-right:5px;margin-top:5px;margin-bottom:5px;">
                                                    <img width="225" height="300" src="@Url.Action("GetImage", "Home", new { producto.Id_producto})" />
                                                </div>
                                            }

                                            <h2>@producto.Nombre_producto</h2>

                                            <h3>$ @producto.Precio_producto</h3>

                                            <a href=@Url.Action("Cart", "Home", new { id = producto.Id_producto}) class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Añadir al carro</a>

                                        </div>

                                    </div>

                                </a>

                            </div>

                        </div>



                    }

                </div><!--features_items-->

                <ul class="pagination">
                    <li>
                        @if (ViewBag.cantidad != "MK7")
                        {
                            @Html.PagedListPager((IPagedList)ViewBag.Busqueda, page => Url.Action("Getbusqueda", new { buscarproducto = ViewBag.Id, page }))
                        }




                    </li>
                </ul>

            </div>

        </div>

    </div>

</section>
