@model Menajes_Maipu.Models.ModeloBD.Producto

@{
    var user = Session["user"];
    var id = Session["id"];

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Ladmin.cshtml";
}

    <!-- page content -->
    <div class="right_col" role="main">

        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        Formulario Productos
                    </h3>
                </div>


            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Producto <small>Editar</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            @using (Html.BeginForm("ProductosEdit", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                            {



                                @Html.HiddenFor(model => model.Id_producto)



                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                        Nombre <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @foreach (var item in ViewBag.nombre)
                                        {
                                  
                                            @Html.EditorFor(model => model.Nombre_producto, new { htmlAttributes = new { @class = "form-control", @Value = @item.Nombre_producto, required = "required", @pattern = "[a-zA-Z0-9 ]+", @title = "Caracteres inválidos" } })

                                            @Html.ValidationMessageFor(model => model.Nombre_producto, "", new { @class = "text-danger" })
                                        }
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                                        Descripcion <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @foreach (var item in ViewBag.nombre)
                                        {

                                            @Html.EditorFor(model => model.Descripcion_producto, new { htmlAttributes = new { @class = "form-control", @Value = @item.Descripcion_producto, required = "required", @pattern = "[a-zA-Z0-9 ]+", @title = "Caracteres inválidos" } })
                                            @Html.ValidationMessageFor(model => model.Descripcion_producto, "", new { @class = "text-danger" })
                                        }
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                                        Stock <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @foreach (var item in ViewBag.nombre)
                                        {

                                            @Html.EditorFor(model => model.Stock_producto, new { htmlAttributes = new { @class = "form-control", @Value = @item.Stock_producto, required = "required", @pattern = "[0-9]", @title = "Ingrese solo números" } })
                                        }


                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
                                        Precio <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @foreach (var item in ViewBag.nombre)
                                        {

                                            @Html.EditorFor(model => model.Precio_producto, new { htmlAttributes = new { @class = "form-control", @Value = @item.Precio_producto, required = "required", @pattern = "[0-9]", @title = "Ingrese solo números" } })
                                            @Html.ValidationMessageFor(model => model.Precio_producto, "", new { @class = "text-danger" })
                                        }


                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="website">
                                        Subcategoria <span class="required"></span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownList("Id_subcategoria", new SelectList(ViewBag.Todo, "Id_subcategoria", "Nombre_subcategoria"))
                                    </div>
                                </div>
                                <div class="item form-group">
                                    @*<label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">
                                        Nombre Img <span class="required"></span>
                                    </label>*@
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @foreach (var item in ViewBag.nombre)
                                        {

                                            @Html.EditorFor(model => model.Nombre_imagen, new { htmlAttributes = new { @class = "hidden", @Value = @item.Nombre_imagen } })
                                            @Html.ValidationMessageFor(model => model.Nombre_imagen, "", new { @class = "text-danger" })
                                        }


                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label for="password" class="control-label col-md-3">Imagen</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="file" name="imagen" id="imagen" class="btn btn-default" required="required" />
                                    </div>
                                </div>


                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">

                                        <button type="submit" class="btn btn-success">Enviar</button>
                                        @Html.ActionLink("Volver al listado", "ProductosList", "Dashboard", new { }, new { @class = "btn btn-info" })

                                    </div>
                                </div>


                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <footer>
            <div class="">
                <p class="pull-right">
                    <a>RGL</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->

    </div>
    <!-- /page content -->
