@model Menajes_Maipu.Models.ModeloBD.Usuario

@{
    var user = Session["user"];
    var id = Session["id"];
    ViewBag.Title = "EditCliente";
}



<div class="container">
    <div class="row" align="center">
        @if (ViewBag.Estado == "Error")
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Problemas en el formulario</strong> Quizas no ha realizado ninguna modificación, revise el formulario.
            </div>
        }


        <div class="col-sm-10" align="center">
            <h2 class="title text-center">Edición <strong> De Perfil</strong></h2>
          
            <div class="signup-form">
                @using (Html.BeginForm("EditCliente", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                {
                    @Html.EditorFor(model => model.id_user, new { htmlAttributes = new { @class = "form-control", style = "display:none", @Value = @id } })
                    foreach (var item in ViewBag.Usuario)
                    {

                        <table class="table table-responsive cart_info">

                            <tr style="background-color:#FE980F">

                                <td align="center" colspan="4"><h4 style="color:white">Datos de Envio</h4></td>

                            </tr>
                            <tr class="active">
                
                                @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control", style = "display:none", @Value = @item.Rut } })
                                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control", style = "display:none", @Value = @item.Tipo } })
                                @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control", style = "display:none", @Value = "contrasena" } })
                                @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control", style = "display:none", @Value = @item.Sexo } })
                            </tr>
                            <tr class="active">
                                <td class="description"><p><b>Nombre*</b></p></td>
                                <td>
                                    @Html.EditorFor(model => model.Nombre_usuario, new { htmlAttributes = new { @class = "form-control", @Value = @item.Nombre_usuario, required = "required", @title = "Caracteres inválidos", @pattern = "[a-zA-Z ]+" } })
                                    @Html.ValidationMessageFor(model => model.Nombre_usuario, "", new { @class = "text-danger" })
                                    
                                </td>
                            </tr>
                            <tr class="active">
                                <td class="description"><p><b>Apellido*</b></p></td>
                                <td>@Html.EditorFor(model => model.Apellido_usuario, new { htmlAttributes = new { @class = "form-control", @Value = @item.Apellido_usuario, required = "required", @title = "Caracteres inválidos", @pattern = "[a-zA-Z ]+" } })</td>
                                    @Html.ValidationMessageFor(model => model.Apellido_usuario, "", new { @class = "text-danger" })
                                
                            </tr>
                            <tr class="active">
                                <td class="description"><p><b>Email*</b></p></td>
                                <td>
                                    @Html.EditorFor(model => model.Email_usuario, new { htmlAttributes = new { @class = "form-control", @Value = @item.Email_usuario, @type="email", @required="required", @title = "Caracteres inválidos"} })
                                    @Html.ValidationMessageFor(model => model.Email_usuario, "", new { @class = "text-danger" })                                      
                                 </td>
                            </tr>
                            <tr class="active">
                                <td class="description"><p><b>Telefono</b></p></td>
                                <td>@Html.EditorFor(model => model.Telefono_usuario, new { htmlAttributes = new { @class = "form-control", @Value = @item.Telefono_usuario, @type="number", @required = "required", @pattern = "[0-9]", @title = "Ingrese solo números" } })</td>
                                    @Html.ValidationMessageFor(model => model.Telefono_usuario, "", new { @class = "text-danger" })
                             </tr>
                            <tr class="active">
                                <td class="description"><p><b></b></p></td>
                                <td><button type="submit" class="btn btn-primary"><b>Enviar</b></button></td>
                            </tr>

                        </table>

                    }



                }


            </div><!--/sign up form-->
        </div>
    </div>
</div>